@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
.container {
    width: 70%;
    padding: 30px 50px;
    background: #fff;
    box-shadow: 0px 0px 4px #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 50px;
}
.inputDiv{
    width: 100%;
}
.input{
    outline: none;
    border: none;
    background: none;
    border: 1px solid #1572a13d;
   width: 100%;
   height: 200px;
   resize: none;
   font-size: 14px;
   font-weight: 500;
   padding: 20px 0 0 15px;
   border-radius: 10px;
 
}


.button{
    display: flex;
    flex-direction: column;
    background: #1a89c0;
    border: none;
    padding: 9px 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 13px;
    margin-top: 10px;
    transition: all ease-in-out .2s;
}
.button:hover{
    background: #1572a1;
}

@media(max-width: 800px){
    .container{
        width: 85%;
        padding: 20px 30px;
    }
    .input{
        height: 150px;
    }
    .button{
        padding: 6px 10px;
        font-size: 11px;
    }

}
@media(max-width: 400px){
    .container{
        width: 90%;
        padding: 20px 15px;
    }

}