.container{
    width: 60%;
    margin: 20px auto 50px;
}
.posts{
    width: 100%;
 
}
.postContainer {
   display: flex; 
   width: 100%;
   padding: 25px 20px;
   box-shadow: 0px 0px 4px #ddd;
   background: #fff;
   margin-bottom: 20px;
   border-radius: 15px;
}
.nameMessageContainer{
    margin-left: 10px;
    width: 80%;
}
.name {
 font-size: 15px;
 font-weight: 600;
 color: rgb(17, 17, 17);
}
.message {
 font-size: 14px;
 font-weight: 500;
 color: rgb(84, 84, 84);
 margin: 5px 0 15px 0;
 line-height: 25px;
}

.icons {
    display: flex;
    align-items: center;
}
.icon{
    transform: scale(0.8);


}
.media{
    object-fit: cover;
    border-radius: 5px;
    max-width: 50% !important;
}
.span{
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #1572a1a6;
    cursor: pointer;
}
.commentsContainer {
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
}
.commentContainer{
    display: flex;
    align-items: center;
    width: 100%;
 
}
.commentAvatar {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.commentInput {
    background: none;
    border: none;
    border-bottom: 1px solid #1572A1;
    outline: none;
    resize: none;
    margin-right: 20px;
    width: 80%;
}
.button {
    border-radius: 20px;
    padding: 5px 7px;
    border: none;
    background: #1a89c0;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
}

.userComment {
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.commentUserName {
    font-size: 12px;
}
.comment {
 font-size: 13px;
 margin-top: 5px;
 color: rgb(84, 84, 84);
}
.scrollArrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1572A1;
    display: grid;
    place-items: center;
    color: #fff;
    cursor: pointer;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
}
.arrow{
    width: 18px;
    height: 18px;
}


@media(max-width: 800px){
    .container{
        width: 80%;
    }
    .commentsContainer {
        padding-left: 0px;
    
    }
    .commentInput {
        width: 90%;
    }
    .userImg{
        transform: scale(0.9);
    }
}
@media(max-width: 400px){
    .container{
        width: 90%;
    }
    .commentsContainer {
        padding-left: 0px;
    
    }
    .commentInput {
        width: 90%;
    }
}