.container{
    width: 60%;
    margin: 20px auto 0;
}
.posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postContainer {
   display: flex; 
   width: 70%;
   padding: 25px 20px;
   background: #648e9b13;
   margin-bottom: 20px;
   border-radius: 15px;
}
.nameMessageContainer{
    margin-left: 10px;
}
.name {
 font-size: 15px;
 font-weight: 600;
 color: rgb(17, 17, 17);
}
.message {
 font-size: 14px;
 font-weight: 500;
 color: rgb(84, 84, 84);
 margin: 5px 0 15px 0;
}

.icons {
    display: flex;
    align-items: center;
}
.icon{
    transform: scale(0.8);


}
.media{
    object-fit: cover;
    border-radius: 5px;
    max-width: 50% !important;
}
.span{
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #8CA1A5;
}