/* navbar  */

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #0F0E0E;
  background: rgba(255, 255, 255, 0.672);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 30;
  box-shadow: 0px 1px 4px #ddd;

}
.logo{
  cursor: pointer;
  color: #1572A1;
}
.icons{
 cursor: pointer;
 position: relative;
}

.modal{
  position: absolute;
  background: #1572a19a;
  color: #fff;
  padding: 10px;
  right: 0px;
  border-radius: 5px;
  margin-top: 10px;
 opacity: 0;
 transition: opacity .5s ease-in-out;
}
.icons:hover  .modal{
  opacity: 1;

}
.name{
font-size: 13px;
font-weight: 500;
}
.email{
font-size: 11px;
}
.form{
  width: 40%;
  position: relative;
  display: none;
}
.search {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
  border: none;
  background: rgb(239, 246, 250);
  outline: none;
  color: rgb(77, 77, 77);
}
.searchIcon {
  position: absolute;
  right: 8px;
  top: 4px;
  width: 20px;
  height: 20px;
  color: #5a7c51;
}

@media(max-width: 800px) {
  .modal{
    display: none;
  }
  .nav{
    padding: 10px 30px;
  }
  .logo{
    font-size: 18px;
  }
  .userPhoto{
    width: 40px !important;
    height: 40px !important;
  }
 
}
@media(max-width:400px) {
  .form{
    display: none;
  }
  .nav{
    padding: 10px 20px;
  }
}