/* navbar  */

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: #0F0E0E;
  background: rgba(255, 255, 255, 0.672);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 20;
}
.logo{
  color: #5a7c51;
}
.icons{
  display: flex;
  align-items: center;
}
.navAdd {
 color: #709b64;
 }
.navAvatar {
 transform: scale(0.7);
 margin-left: 20px;
}